:host {
  display: flex;
  flex-direction: column;
}
a {
  min-width: 160px;
  text-align: left;
  line-height: 45px;
  border-radius: 0;
  margin: 5px 10px;
  color: #fff;
  background: transparent;
  .mat-icon {
    height: auto;
    font-size: 14px;
  }
  &:hover {
    background-color: rgba(255,255,255, 0.1);
  }
}

.spacer {
  padding: 25px 0;
}